BasedOnStyle: LLVM
Language: Cpp
AlignOperands: true
AlignTrailingComments: true
# AllowShortBlocksOnASingleLine: SIS_WithoutElse
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: false
